<h2>Yahoo! Weather </h2>
<div class="col-md-8 col-md-offset-2">
  <div class="form-group">
    <input type="text" [(ngModel)]="cityName" class="form-control" placeholder="Enter City name ..."><br>
    <input type="text" [(ngModel)]="countryName" class="form-control" placeholder="Enter country name ..."><br>
    <button type="button" class="btn btn-primary" (click)="getDataFromService()">Submit</button>
    <br><br><br><br>
    <p class="well lead">
      <i>City, State, Country :</i> {{ this.city }} {{ this.region }} {{ this.country }} <br>
      <i>Current Condition :</i> {{ this.text }} <br>
      <i>Current Temperature :</i> {{ this.temp }} <br>
    </p>
  </div>
</div>